.container {
    display: inline-block;
    width: 100%;
    padding-top: 60px 0;
}
.container > .row {
    display: inline-block;
    width: 800px;
    margin-left: 0 calc(50% - 400px);

}
.container > .row-short {
    display: inline-block;
    width: 600px;
    margin-left: 0 calc(50% - 300px);
    
}

.container. left {
     display: inline-block;
     float: left;
     width: 50%;
     margin: 0 0 60px;
    
}
.container. right {
    display: inline-block;
    float: right;
    width: 40%;
}
@media (max-width: 900px){
    .container > .row {
        width: 600px;
        margin-left: 0 calc(50% - 300px);
}
@media (max-width: 900px){
    .container > .row-short {
        width: 400px;
        margin-left: 0 calc(50% - 200px);
}
}
@media (max-width: 460px){
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .container > .row-short,
    .container > .row {
        width: 100%;
        margin-left: 0;
    }

}