.btn {

    font-size: 20px;
    color: #ffff;
    line-height: 1em;
    padding: 0.5em 1.5em;
    border-radius: 0.25em;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.1em;
    cursor: ;
}