/* base */
@import '../base/reset.css';
@import '../base/variables.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* CUSTOM STYLE BELOW THIS COMMENT, FOR THIS PAGE */

.container {
    width: 900px;
    margin-left: calc(50% - 450px);
    background-color: aquamarine;
}
container > .left {
    width: 40%;
    display: inline-block;
    float: left;
    margin-left: 5%;
    background-color: red;

}
 .container > .right {
   width: 55%;
   display: inline-block;
   float: left;
   background-color: yellow;

/* width */
/* min-width */
/* max-width */
    @media (max-width=800px){
        .container {
            width: 700;
            margin-left: calc(50% - 350px);
            display: inline-block;
        }
        .container > .left {
        width: 100%;
        margin-right; 0;
        }
        .container > .right {
         width: 100%;
         margin-top: 40px;
        }
    }
